# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Platformio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

# Code specific

# Apple
*Secrets.h
.DS_Store

# VSCode
.vscode
mklittlefs.exe
mklittlefs

# Svelte + node
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
